{% extends "base.html" %}

{% block content %} 
<h1 class="text-center">Lista de Posts</h1>
<br>

<div class="row text-center">
  {% for post in posts %}
    <div class="col-md-4 col-sm-6 col-12 mb-4 shadow-lg">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.user }}</p>
      </div>

       
        <!-- Conteo de likes y dislikes -->
      <span>{{ post.liked_by.count }}</span> Likes
      <span>{{ post.disliked_by.count }}</span> Dislikes

      <div class="card-body">
        <a class="hand-button" href="{% url 'like_post' post.id %}">
          <i class="bi bi-hand-thumbs-up" style="font-size: 2em;"></i>
        </a>
        <a class="hand-button" href="{% url 'disliked_post' post.id %}">
          <i class="bi bi-hand-thumbs-down" style="font-size: 2em;"></i>
        </a>

        <br>

        <a class="btn btn-light" href="{% url 'post_update' post.id %}">Actualizar</a>
        {% if user.id == post.user_id %}
          <form method="POST" action="{% url 'post_delete' post.id %}">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Eliminar">
          </form>
        {% endif %}

        <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'post_details' post.id %}">
          Ver más
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>  
    </div>
  {% endfor %}
</div>


{% endblock content %}