{% extends "base.html" %}

{% block content %} 
<h1 class="text-center">Lista de Posts</h1>
<br>
<div class="row text-center">
  {% for post in posts %}
    <div class="col-4">
      <figure>
        {{ post.id }}
        <blockquote class="blockquote">
          <p>{{ post.title }}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          {{ post.user }}
        </figcaption>
        <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'post_details' post.id %}">
          Ver más
          <i class="bi bi-arrow-right"></i>
        </a>
      </figure>
    </div>
  {% endfor %}
</div>


{% endblock content %}