{% extends "base.html" %}

{% block content %} 
<h1>{{ post.title }}</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
  
      <div class="card h-100">
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
          <a href="#" class="btn btn-primary">Crear comentario</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">{{ post.user }}</small>
        </div>
      </div>
  
    </div>

  </div> 
{% endblock content %}